DJANGO_SETTINGS_MODULE=search_product.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://search_product:password@db:5432/search_product
# DATABASE_URL=sqlite:///db.sqlite3
